@model SGMatriculasMaestria.DTOs.UserDto

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container-fluid">
    <div>
        <hr />

        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <div class="text-danger text-center">
                <h5>@ViewBag.ErrorMessage</h5>
            </div>
            <hr />
        }

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-2">
                Primer Apellido
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-2">
                Segundo Apellido
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LastNameTwo)
            </dd>
            <dt class="col-sm-2">
                Correo Electrónico
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Rol
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role)
            </dd>
        </dl>

        <!--<form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input asp-action="Edit" asp-route-id="@item.Id" type="submit" value="Edit" class="btn btn-info margin-left" />&nbsp;&nbsp;&nbsp;
            
            </form>-->

            <div class="row">
                <a asp-action="Edit" asp-for="Id" class="btn btn-info margin-left btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Editar</span>
                </a>
                <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text">Regresar al listado</span>
                </a>
            </div>
            
           
        
    </div>
</div>
