@model SGMatriculasMaestria.Models.Aspirante

@{
    ViewData["Title"] = "Agregar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Nuevo Aspirante</h1>
<hr />
@if(!string.IsNullOrEmpty(ViewBag.ErrorMessage)){
    <div class="text-danger text-center">
        <h3>@ViewBag.ErrorMessage</h3>
    </div>
    <hr/>
}


<div class="container-fluid">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="PrimerApellido" class="control-label"></label>
                    <input asp-for="PrimerApellido" class="form-control" />
                    <span asp-validation-for="PrimerApellido" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="SegundoApellido" class="control-label"></label>
                    <input asp-for="SegundoApellido" class="form-control" />
                    <span asp-validation-for="SegundoApellido" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="CI" class="control-label"></label>
                    <input asp-for="CI" class="form-control" maxlength="11" />
                    <span asp-validation-for="CI" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Sexo" class="control-label"></label>
                    <select asp-for="SexoId" class="form-control">
                        <option value="">--Seleccione--</option>
                        <option value="0">Masculino</option>
                        <option value="1">Femenino</option>
                    </select>
                    <span asp-validation-for="SexoId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3">
                <div class="form-group">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label asp-for="DireccionParticular" class="control-label"></label>
                    <input asp-for="DireccionParticular" class="form-control" />
                    <span asp-validation-for="DireccionParticular" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Pais" class="control-label"></label>
                    <select asp-for="PaisId" asp-items="@(new SelectList(ViewBag.Paises,"Id","Nombre"))" id="PaisAspiranteSelect" class="form-control">
                        <option value="">-- Seleccione un Pais --</option>
                    </select>
                    <span asp-validation-for="PaisId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Provincia" class="control-label"></label>
                    <select asp-for="ProvinciaId" asp-items="@(new SelectList(ViewBag.Provincias,"Id","Nombre"))" id="ProvinciaAspiranteSelect" class="form-control">
                        <option value="">-- Seleccione una provincia --</option>
                    </select>
                    <span asp-validation-for="ProvinciaId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Municipio" class="control-label"></label>
                    <select asp-for="MunicipioId" asp-items="@(new SelectList(ViewBag.Municipios,"Id","Nombre"))" id="MunicipioAspiranteSelect" class="form-control">
                        <option value="">-- Seleccione un municipio --</option>
                    </select>
                    <span asp-validation-for="MunicipioId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Ces" class="control-label"></label>
                    <select asp-for="CesId" asp-items="@(new SelectList(ViewBag.Ces,"Id","Nombre"))" id="CesAspiranteSelect" class="form-control">
                        <option value="">-- Seleccione una Ces --</option>
                    </select>
                    <span asp-validation-for="CesId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="EspecGraduado" class="control-label"></label>
                    <select asp-for="EspecGraduadoId" asp-items="@(new SelectList(ViewBag.Especialidades,"Id","Nombre"))" id="EspecialidadAspiranteSelect" class="form-control">
                        <option value="">-- Seleccione una Especialidad --</option>
                    </select>
                    <span asp-validation-for="EspecGraduadoId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="FechaGraduacion" class="control-label"></label>
                    <input asp-for="FechaGraduacion" class="form-control" id="aspirante-fecha-graduado"/>
                    <span asp-validation-for="FechaGraduacion" class="text-danger" id="error-fecha-graduacion" ></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Tomo" class="control-label"></label>
                    <input asp-for="Tomo" class="form-control" />
                    <span asp-validation-for="Tomo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Folio" class="control-label"></label>
                    <input asp-for="Folio" class="form-control" />
                    <span asp-validation-for="Folio" class="text-danger"></span>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn btn-info" />&nbsp;&nbsp;&nbsp;
            <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-left"></i>
                </span>
                <span class="text">Regresar al listado</span>
            </a>
        </div>
        <div>

        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_LoadMunicipiosScriptPartial");}
    <script src="~/js/to-valid-date.js"></script>
}
