@model SGMatriculasMaestria.Models.Aspirante

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- general form elements disabled -->
    <center>
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Detalles del Aspirante</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">



                <div class="row">
                    <div class="col-12">

                        <table id="example1" class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Nombre)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Nombre)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.PrimerApellido)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.PrimerApellido)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.SegundoApellido)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.SegundoApellido)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.DireccionParticular)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.DireccionParticular)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Telefono)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Telefono)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Email)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Email)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Sexo)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Sexo)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.EspecGraduado)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.EspecGraduado.Nombre)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Ces)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Ces.Nombre)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.FechaGraduacion)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.FechaGraduacion)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Tomo)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Tomo)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Folio)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Folio)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Numero)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Numero)</td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Pais)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Pais.Nombre)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(modelItem => Model.Municipio.Provincia)</th>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => Model.Provincia.Nombre)
                                    </td>
                                </tr>
                                <tr>
                                    <th> @Html.DisplayNameFor(modelItem => Model.Municipio)</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Municipio.Nombre)</td>
                                </tr>
                                <tr>
                                    <th> Fecha de creación</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Creatat)</td>
                                </tr>
                                <tr>
                                    <th> Ultima modificación</th>
                                </tr>
                                <tr>
                                    <td> @Html.DisplayFor(modelItem => Model.Modifiat)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 mb-4"></div>
                <div>
                    @if (User.IsInRole(SGMatriculasMaestria.Enums.Roles.Tecnico.ToString()) == false)
                    {
                        <a asp-action="Delete" asp-route-id="@Model.CI" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a><span>&nbsp; &nbsp; &nbsp;</span>
                        <a asp-action="Edit" asp-route-id="@Model.CI" class="btn btn-info margin-left">Editar</a><span>&nbsp; &nbsp; &nbsp;</span>
                    }
                    <a asp-action="Index" class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">Regresar al listado</span>
                    </a>
                </div> <!-- /.card-body -->
            </div>
            <div class="col-xl-3 col-md-6 mb-4"></div>
        </div>
    </center>
</div>


