@model SGMatriculasMaestria.Models.Aspirante

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Aspirante</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrimerApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionParticular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionParticular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaGraduacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaGraduacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tomo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tomo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Folio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Folio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CI">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
