@model IEnumerable<SGMatriculasMaestria.Models.Aspirante>

@{
    ViewData["Title"] = "Aspirantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-normal">Listado de Aspirantes</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tableaspirantes" width="100%" cellspacing="0">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EspecGraduado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Ces)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Municipio)
                            </th>
                            @*<th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionParticular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tomo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                                @Html.DisplayFor(modelItem => item.PrimerApellido)
                                @Html.DisplayFor(modelItem => item.SegundoApellido)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EspecGraduado.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ces.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Municipio.Nombre)
                            </td>
                            @*<td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionParticular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tomo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <th>
            @Html.DisplayFor(modelItem => item.Pais)
        </th>*@
                            <td width="120px" class="tb-accion">
                                <a asp-action="Edit" asp-route-id="@item.CI" class="btn btn-success btn-circle btn-sm"><i class="fas fa-fw fa-wrench"></i></a>
                                <a asp-action="Details" asp-route-id="@item.CI" class="btn btn-info btn-circle btn-sm"><i class="fas fa-info-circle"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.CI" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <p>
            <a asp-action="Create" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus-circle"></i>
                </span>
                <span class="text">Agregar Aspirante</span>
            </a>
        </p>
    </div>
</div>
@section scripts
{
    <script>
        $(function () {
            $('#tableaspirantes').DataTable({
                "order": [[2, 'asc']],
                'paging': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'scrollX': true,
                'scrollY': true,
                'autoWidth': true
            });
        })
    </script>
}